DP760/copy_data_using_metadata.json
{
    "name": "Transformation",
    "objectId": "10d11a2e-0605-4f35-844c-8b239f863b92",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata1",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "fieldList": [
                        "childItems"
                    ],
                    "datasetSettings": {
                        "annotations": [],
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "AmazonS3Location",
                                "bucketName": "ecommerce-lifecycle-s3-bucket"
                            }
                        },
                        "externalReferences": {
                            "connection": "1642b6bb-a014-4a34-9128-6593a618f074"
                        }
                    },
                    "storeSettings": {
                        "type": "AmazonS3ReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata1').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AmazonS3ReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "DelimitedText",
                                        "typeProperties": {
                                            "location": {
                                                "type": "AmazonS3Location",
                                                "bucketName": "ecommerce-lifecycle-s3-bucket",
                                                "folderPath": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                }
                                            },
                                            "columnDelimiter": ",",
                                            "escapeChar": "\\",
                                            "firstRowAsHeader": true,
                                            "quoteChar": "\""
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "1642b6bb-a014-4a34-9128-6593a618f074"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings",
                                        "enableVertiParquet": true
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "DE_Learning_LH",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "f8e3d19d-f7c2-4966-9804-d462790c6dac",
                                                    "artifactId": "e082f63b-1fb6-43a3-b4d1-41255d83d6db",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Parquet",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "folderPath": "Bronze"
                                            },
                                            "compressionCodec": "snappy"
                                        },
                                        "schema": []
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "lastModifiedByObjectId": "cf56f162-c721-4ffc-93ea-5618392cedee",
        "lastPublishTime": "2026-05-22T14:06:09Z"
    }
}